@font-face {
    font-family: 'Prototypster';
    src: url('../fonts/PrototypsterMedium.eot');
    src: url('PrototypsterMedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PrototypsterMedium.svg#PrototypsterMedium') format('svg'),
         url('../fonts/PrototypsterMedium.woff') format('woff'),
         url('../fonts/PrototypsterMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
